.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-sb-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-sa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-fs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex-sb-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


// vant 样式

.van-toast{
  padding: 30px 20px;
  div{
    font-size: 30px!important;
  }
}
