// base color
$base-color: #3181BC;
$active-color: #1FB3BB;
$bg-color: #f5f5f5;
$second-color: #64C191;
$search-bg_color: #E9F6FF;

// base font
$base-size: 26px;
$Ping-Reg: PingFangSC-Regular;
$Ping-Med: PingFangSC-Medium;
